<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Last Kingdom API</title>
    <style> 
        body {
            background-image: url("../static/background.jpeg");
            background-size:     cover;
            background-repeat:   no-repeat;
        }

    </style>
</head>
<body>
    <header>
    </header>
    <h1 style="color:#E2DFD2; text-align: right; padding-right: 5vw; font-size: 5vw;">The Last Kingdom API</h1>
</body>
</html>